@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
  }

/* Desktop Nav */
#desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.5s, color 0.3s;
}

/* Styles du menu une fois fixé en haut */
#desktop-nav.scrolled {
  background-color: black;
    position: fixed;
    color: white;
    width: 100%;
    top: 0;
}

#desktop-nav.scrolled .logo,
#desktop-nav.scrolled .nav-links li a {
    color: white;
}

.nav-links {
    display: flex;
    list-style-type: none;
    margin-right: 2rem;

}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "oswald", serif;
    font-weight: 400;
    font-style: normal;
}

.nav-links li a:hover{
  color: rgb(76, 76, 112);
  text-decoration:underline ;
}

.logo{
    font-family: "Pacifico";
    font-size: 2rem;
    color: rgb(0, 0, 0);
    margin: 0 2rem;
    white-space: nowrap;
}
.logo:hover {
    cursor: default;
}

/* Hamburger Menu (Initially Hidden) */
#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    background-color: rgb(255, 255, 255);
    height: 2px;
    width: 100%;
    display: block;
    transition: all 0.3s ease-in-out;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.menu-links {
    position: absolute;
    width: 50vw; /* Prend toute la largeur de la page */
    margin: 1rem ;
    max-height: 0;
    right: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out; /* Correction de la syntaxe */
    border-radius: 0.5rem;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center; /* Centre le texte dans le menu */
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.menu-links a:hover{
  color: black;
  font-weight: bold;
}

.menu-links li {
    list-style: none;
    border: solid 0.1rem rgb(255, 255, 255);
    width: 100%; /* Prend toute la largeur de l'élément parent */
    background-color: rgba(0, 0, 0, 0.495);
}

.menu-links.open {
    max-height: 300px;
}

#profile{
  border: solid 2px rgb(255, 255, 255);
  width: 80vw;
  height: 60vh;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.profileImg {
  width: 100vh;
  height: auto;
  border-radius: 50%;      /* Bordure arrondie (pour un effet circulaire) */
  overflow: hidden;        /* Cache les coins de l'image si elle dépasse */
  border: 2px solid rgba(0, 0, 0, 0.5); /* Bordure avec une légère transparence */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Ajoute une ombre portée */
}
.profileImg img {
  width: 100%;  /* L'image occupe toute la largeur du parent */
  height: 100%; /* L'image occupe toute la hauteur du parent */
  object-fit: fill;
  cursor: pointer;

}

.modal {
  display: none; /* Hidden by default */
  position: fixed; 
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.9); /* Black with opacity */
  padding-top: 2rem;
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
  border-radius: 5px;
  transition: all 0.3s ease;
}
/* Close button (X) */
.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.profile-description{
  margin: 0 2rem ;
  align-self: center;
  text-align: center;
}
.hello{
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
}
.profile-name{
  font-family: "Pacifico";
  font-size: 2rem;
}
.description-1{
  font-size: 1.75rem;
  margin-bottom: 1rem;
}
.exper{
  font-weight: bold;
  color: rgb(76, 76, 112);
}

.socials{
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 1rem;
}
.icon {
  font-size: 2rem; 
  color: black;    
  cursor: pointer;
  margin: 0 10px; 
  transition: color 0.3s ease;
}
.icon:hover {
  color: #0077b5; /* Couleur au survol (spécifique à LinkedIn ici) */
}
.fab.fa-github:hover {
  color: #474545; /* Couleur au survol pour GitHub */
}


.btns{
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.btn{
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: max-content;
  white-space: nowrap;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
}
.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}
.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}